<footer>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height grid">
                <div class="five wide column">
                    <h4 class="ui inverted header">A propos</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#">Plan du site</a>
                        <a class="item" href="#">Contact</a>
                        <a class="item" href="#">Autre chose</a>
                    </div>
                </div>

                <div class="five wide column">
                    <h4 class="ui inverted header">De plus</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="#">Plan du site</a>
                        <a class="item" href="#">Contact</a>
                        <a class="item" href="https://github.com/MindeurFou/Donne-ton-avis">Code source</a>
                    </div>
                </div>

                <div class="six wide column">
                    <h4 class="ui inverted header">Développement du site</h4>
                    <p>Le site a été développé par Tanguy Pouriel et José Maria grâce au cours et aux conseils de M. Goupil 
                        que l'on remercie !</p>
                </div>

            </div>
        </div>
    </div>
</footer>