/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 févr. 2020, 22:24:10
    Author     : user
*/

p{
    margin:30px;
}

section{
    margin: 100px;
}

.main.container {
    margin-top: 4em;
    margin-bottom: 4em;
}